{% extends 'admin.html' %}
{% block content%}
<form method='post' action='' enctype='multipart/form-data'>
    {% csrf_token %}
    <input type='text' name='name' placeholder='Name' value={{product.name}}><br>
    <input type='number' name='price' placeholder='Price' value={{product.price}}><br>
    <input type='text' name='description' placeholder='description' value={{product.description}}><br>
    {% if product %}
    <img src="{{product.image.url}}" width='200px'>
    {%  endif %}
    <input type='file' name='image' placeholder='select image' ><br>
    <input type='number' name='stock' placeholder='Stock' value={{product.stock}}><br>
    <input type='submit' value='submit'>
</form>
{% if product %}
<a href="{% url 'removeproduct' product.id %}"><input type='button' value='remove product'><a>
{%  endif %}
{% endblock %}